* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
}

.navbar {
  background-color: rgb(224, 95, 35);
  color: whitesmoke;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.navbar .left {
  display: flex;
  align-items: center;
}

.navbar .left img{
  width: 100px;
}

.navbar .right {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
  line-height: 70px;
}

nav ul li a:hover{
  color: black;
  transition: 0.4s;
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: row;
  /* background-color: black; */
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  
}

.content {
  max-width: 50%;
  padding: 20px;
  /* justify-content: center; */
  
}

.title {
  color: #ffd700;
  font-size: 48px;
  text-shadow: 2px 2px #000000;
}

.title img {
  width: 300px;
}

.synopsis-title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  font-style: bold;
}

.synopsis {
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.trailer{
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.gallery {
  padding-top: 50px;
}

@media screen and (max-width: 768px) {
  .navbar .right ul {
    display: none;
    flex-direction: column;
    background-color: rgb(224, 95, 35);
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .navbar .right ul.active {
    display: flex;
  }

  .burger {
    display: flex;
  }

  /* .burger.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.active .line2 {
    opacity: 0;
  }

  .burger.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  } */
}

.home {
  color: white;
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  padding: 10px;
  background-size: cover;
  background-position: center;
}

.homeCenter {
  margin-top: 20px;
  background-color: red;
}

.tengekLogo {
  margin-bottom: 50px;
  justify-content: center;
}

.watchNow {
  background-color: orange;
  margin: 20px;
}

.watchNow:hover {
  color: orange;
  background-color: white;
  animation: ease-in-out;
}

.about {
  justify-content: center;
}

.about:hover {
  opacity: 1;
}

.homeBotBtn {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background-color: blue;
  align-self: flex-end;
}

.wallpaper {
  min-height: 100vh;
  margin-top: 45px;
  padding: 24px;
  height: auto;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.wallpaper .bg {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  z-index: -100;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wallpaper img {
  max-width: 75%
}

.play {
  background-color: rgb(224, 95, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 75px;
  line-height: 75px;
  border-radius: 20px;
  border: 2px solid whitesmoke;
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.play span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.play:hover{
  opacity: 1.1;
  background-color: orange;
  transition: 0.4s;
}

.pictarea button {
  background-color: transparent;
}

.pictarea .pict {
  width: 25%;
  height: 150px;
  background-color: rgb(240, 240, 240);
  margin: 20px;
  display: inline-block;
  border: 5px solid rgb(224, 95, 35);
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
}

.pictarea .pict img {
  border-radius: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splide {
  margin: 20px;
}

.splide__slide img {
  background-color: rgb(240, 240, 240);
  border: 5px solid rgb(224, 95, 35);
  border-radius: 20px;
  width: 100%;
  height: auto;
  margin: 20px;
}


.profile-section {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.splide-p {
  max-width: 0%;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow {
  cursor: pointer;
  font-size: 24px;
  color: white;
  user-select: none;
  padding: 0 10px;
}

.profile {
  display: flex;
  background-color: rgb(224, 95, 35);
  border-radius: 10px;
  overflow: hidden;
  min-width: 80%;
  height: 300px;
  padding: 20px;
  align-items: center;
  margin: 20px;
}

.profile-image {
  max-width: 200px;
  border-radius: 10px;
  margin-right: 20px;
}

.profile-info {
  text-align: left;
}

.profile-info h3 {
  margin: 0;
  font-size: 24px;
}

.profile-info h4 {
  margin: 5px 0 10px 0;
  font-size: 18px;
  color: #f0e68c;
}

.profile-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #f0f0f0;
}

.social-media {
  margin-top: 10px;
  justify-content: right;
  text-align: right;
}

.social-media .icon-sosmed {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  color: rgb(224, 95, 35);
  font-size: 24px; 
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(224, 95, 35);
    color: whitesmoke;
    padding: 0 50px;
    padding-bottom: 20px;
}

footer .left {
  text-align: center;
}

footer .left img {
    width: 300px;
}

footer .right {
    width: 40%;
    float: right;
    padding-top: 20px;
}

footer .right .social-icons {
    margin-top: 10px;
}

.mediasosial {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: rgb(224, 95, 35);
    font-size: 24px;
    cursor: pointer;
}